@page "/create"
@inject ContatoService ContatoService
@using CarteiradeContatos
@using Microsoft.AspNetCore.Components.Forms

<h3>Contatos Salvos</h3>

<EditForm Model="@Contato" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="nome">Nome</label>
        <InputText id="nome" class="form-control" @bind-Value="Contato.Nome" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="Contato.Email" />
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <InputText id="telefone" class="form-control" @bind-Value="Contato.Telefone" />
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Salvar</button>
</EditForm>
<Consulta />

@code {
    private Contato Contato = new Contato
        {
            Nome = string.Empty,
            Telefone = string.Empty,
            Email = string.Empty
        };

    private async Task HandleValidSubmit()
    {
        try
        {
            await ContatoService.AddContatoAsync(Contato);
            Contato = new Contato(); // Limpar o formulário após salvar
        }
        catch (Exception ex)
        {
            // Logar o erro e exibir uma mensagem amigável ao usuário
            Console.Error.WriteLine(ex);
        }
    }
}
