@page "/"
@page "/Index"
@inject NavigationManager Navigation

<div class="text-center">
    <h1 class="display-4">Carteira de Contatos</h1>
    <p>Aqui estarão presentes os contatos incluídos em sua carteira de contatos</p>
</div>
<div>
    <NavLink href="/Create">Criar Novo Contato</NavLink>
</div>