@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Carteira de Contatos</h1>
    <p>Aqui estarão presentes os contatos incluídos em sua carteira de contatos</a>.</p>
</div>
<div>
        <a asp-page="Create" href="/Create.razor">Criar Novo Contato</a>
</div>

